.header{
	width: 100% important;
	
	background-image:url('../img/Mask Group.png');
	color: #fff!important;
	background-size: cover;
}
.header a{
	color: #fff !important;
}

.header__body__text{
	margin: 0 auto;
	text-align: center;
}
.header__body__btn:hover{
	background-color: #fff !important;
	color: #000 !important;
}
.photo-section__img,.photo-section__img1{
	position: relative;
}
.photo-section__img img{
	height: auto;
}
.photo-section__img1 img{
	height: auto;
	align-items: center;
}

.col-lg-4 {
	height: auto;

}

.footer p{
	color: rgba(0,0,0,0.4) !important;
}
.photo{
	position: relative;
	
 }
.hover-box,.hover-box1{
	margin: 0 auto;
	position: absolute;
	bottom: 0%;
	right: 0%;
	height: 0px;
	transition: 1s;
	clip-path: polygon(0% 100%, 0% 0%, 100% 20%, 100% 100%, 10% 100%);
	z-index: 2;
	background-color:transparent !important;
	
}
.hover-box1 h2{
	margin: 0 auto;
	margin: 10px 0;
	text-align: left;
	width: 70%;
	padding-top: 10px;
	font-size: 20px !important;
	transition:height 2s;
}

.hover-box h2{
	margin: 0 auto;
	text-align: left;
	width: 70%;
	padding-top: 30px;
	font-size: 25px;
	transition:height 2s;

}
.hover__img{
	width: 40px !important;
	height: 40px !important;
}
.hover-box img{
	margin: 0 auto;
    height: 20px;
}
.photo-section__img img {
	z-index: 1;
	height: 500px;
	

}
.photo-section__img1 h2{
	margin: 0 auto;
	text-align: left;
	width: 70%;
	padding-top: 10px;
	font-size: 20px !important;
	transition:height 2s;
}
.photo-section__img1 img{
	height: 244px;
}
.photo:hover .hover-box,.photo:hover .hover-box1{
	    height: 50% !important;
	    background-color: rgba(0, 0, 0, 0.80) !important;
	    transition:height 2s;

}
@media(max-width:990px){
	.navbar-toggler span{
		background-color: #fff;
		padding: 10px;

	}
}