.header{
	width: 100% important;
	
	background-image:url('../img/Mask Group.png');
	color: #fff!important;
	background-size: cover;
}
.header a{
	color: #fff !important;
}

.header__body__text{
	margin: 0 auto;
	text-align: center;
}
.header__body__btn:hover{
	background-color: #fff !important;
	color: #000 !important;
}
.photo-section__img img{
	height: 300px;
}
.photo-section__img1 img{
	height: 145px;
	align-items: center;
}
.col-lg-4 {
	height: 300px;

}

.footer p{
	color: rgba(0,0,0,0.4) !important;
}